/*filter__checkbox effect*/
.filter__checkbox-check  {
  transition: border-color 0.4s ease-in-out;
}

.filter__checkbox__input:focus-visible + .filter__checkbox-check  {
  border-color: $main-color;
  background-color: $main-color-light;
}

.filter__checkbox__input:hover + .filter__checkbox-check  {
  border-color: $main-color;
}

.filter__checkbox__input:active + .filter__checkbox-check  {
  border-color: $main-color-dark;
}

.runner__btn:focus-visible {
  color: $main-color-dark;
}

.runner__btn:hover {
  color: $main-color-light;
}

.runner__btn:active{
  color: $main-color-dark;
}

.runner__btn:focus-visible ~ .runner__line {
  background-color: $main-color-dark;
}

.runner__btn:active ~ .runner__line {
  background-color: $main-color-dark;
}
