@media (max-width: 1200px) {
  .catalog-section__container {
    grid-template-columns: repeat(1, auto);
  }

  .catalog-section__title {
    grid-column: initial; //1/ span $count_grid-column-1024;
    grid-row: initial;
    margin-bottom: $internal-padding-mobile;
  }

  .filter {
    grid-column: initial; //span $count_grid-column-1024;
    grid-row: initial;

    display: grid;
    grid-template-columns: repeat($count_grid-column-1024, 1fr);
    column-gap: $grid-gap;
    row-gap: 0;
    margin-bottom: $grid-gap;
  }

  .catalog-container {
    grid-column: initial; //span $count_grid-column-1024;
    grid-row: initial;
  }

  .banner {
    display: none;
  }

  .catalog-btn-container {
    grid-column: initial; //span $count_grid-column-1024;
    grid-row: initial;
  }

  .filter {
    padding-bottom: 0;
  }

  .filter__title {
    grid-column: span 1;
    align-self: center;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 130%;
  }

  .filter__grid-container {
    grid-column: span 8;
    grid-template-columns: repeat(4, 1fr);
    gap: $grid-gap-mobile $grid-gap;
  }

  .filter__title-big  {
    visibility: hidden;
    position: absolute;
  }

  .filter__title-adaptive {
    visibility: visible;
    position: relative;
  }

  .filter__fieldset {
    position: relative;
    flex-grow: 1;
    margin-bottom: 0;
  }

  .filter__container {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 47;
    padding: (40px + $internal-padding-mobile) $internal-padding-mobile $internal-padding-mobile $internal-padding-mobile;
    width: 100%;
    outline: 2px solid $background-secondary-color;
    outline-offset: -2px;
    border-radius: 10px;
    background-color: $background-main-color;
    //box-shadow: 1px 1px 1px $focus-decor-color;
    transform: scaleY(0);
    transform-origin: top center;
   // transition: visibility 0.2s ease-out, transform 0.2s ease-out; //перенесено в filter.js
  }

  .filter__container--active {
    visibility: visible;
    transform: scaleY(1);
  }

  .filter__price-container {
    flex-direction: column;
    gap: $internal-padding-mobile;
  }

  .filter__label {
    display: flex;
  }

  .filter__subtitle {
    display: none;
  }

  .filter__btn {
    visibility: visible;
    position: relative;
    z-index: 45;
    display: flex;
    margin-bottom: 0;
    padding: 9px 16px 9px 16px;
    width: 100%;
    border-radius: 10px;
    background-color: $background-secondary-color;
  }

  .filter__container {
    z-index: 46;
  }

  .filter__btn--active {
    z-index: 47;
  }

  .filter__btn::after {
    content: '';
    position: absolute;
    top: calc(50% - 6px);
    right: 16px;
    @include arrow-drop-down();
    transform-origin: center;
  }

  .filter__btn--active + .filter__btn::after {
    transform: rotate(45deg);
  }

  .runner {
    display: none;
  }
  //------hover effect проявляются -----
  .filter__btn {
    transition: background-color 0.3s ease-in-out;
  }

  .filter__btn:focus-visible {
    outline: 2px solid transparent;
    outline-color: $main-color;
    background-color: $focus-decor-color;
  }

  .filter__btn:hover {
    background-color: $main-color-light;
  }

  .filter__btn--active::after {
    transform: translateY(2px) rotate(135deg);
  }
}
//---------------------------------------------------------------------
@media (max-width: 900px) {
  .catalog-section__title {
    margin-bottom: 27px;
  }

  .catalog {
    grid-template-columns: repeat($count_grid-column-768, 1fr); // кол-во столбцов во внутренней таблице
  }

  .filter {
    grid-template-columns: repeat($count_grid-column-768, 1fr);
  }

  .filter__title {
    grid-column: span 4;
    margin-bottom: $internal-padding-mobile;
    font-size: 14px;
    line-height: 130%;
  }

  .filter__grid-container {
    grid-column: span 4;
    grid-template-columns: repeat(2, 1fr);
  }
}
//---------------------------------------------------------------------
@media (max-width: 760px) {
  .catalog {
    grid-template-columns: repeat($count_grid-column-768, 1fr);
  }
}
//---------------------------------------------------------------------
@media (max-width: 520px) {
  .breadcrumbs {
    visibility: hidden;
    position: absolute;
  }

  .filter {
    grid-template-columns: repeat(1, 1fr);
  }

  .filter__title {
    grid-column: initial;
  }

  .filter__grid-container {
    grid-column: initial;
  }

  .filter {
    column-gap: $grid-gap-mobile;
  }

  .catalog-section__title {
    margin-bottom: $internal-padding-mobile;
  }
}
