@media (max-width: 1200px) {
  /* -- footer ---*/
  .footer__grid-container {
    grid-template-columns: repeat($count_grid-column-1024, 1fr);
  }

  .footer__info {
    grid-column: span 2;
  }

  .footer__nav {
    grid-column: span 7;
  }
}
//------------------------------------------------------------
@media (max-width: 900px) {
  /* -- footer ---*/
  .footer__main-container {
    padding: 21px 0 24px 0;
  }

  .footer__grid-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 22px;
  }

  .footer__info {
    grid-column: span 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer__nav {
    grid-column: span 1;
    //padding-bottom: 24px;
    align-items: center;
  }

  .footer__links-title {
    margin-bottom: 8px;
  }
}

//------------------------------------------------------------
@media (max-width: 760px) {
  .footer__nav-list {
    grid-template-columns: repeat(2, auto);
    justify-content: stretch;
  }

  // это из-за странного макета, приходится добавить иначе перебивает
  .footer__nav-item:nth-child(2) {
    min-width: calc(50% - $internal-padding-mobile / 2);
  }

  .footer__nav-item:nth-child(3) {
    min-width: calc(50% - $internal-padding-mobile / 2);
  }
}
//-----------------------------------------------------------------------------------------------
@media (max-width: 520px) {
  .footer__main-container {
    padding: 24px 0;
  }

  .footer__info {
    flex-direction: column;
    justify-content: center;
  }

  .footer__nav-list {
    gap: 26px 32px;
  }

  .footer__links-item {
    margin-bottom: 8px;
  }
}
/* --------------------------------------------------------------------------------------------------*/
@media (max-width: 410px) {
  .footer__links-title {
    margin-bottom: 5px;
  }
  .footer__nav-list {
    justify-content: space-between;
  }
}
