/*hover-эффекты для заголовка*/
.header__btn {
  transition: background-color 0.4s ease-in-out, color 0.3s ease-in-out;
}

.header__btn:focus-visible {
  color: $text-color-light;
  background-color: $main-color-light;
}

.header__btn:hover {
  color: $main-color-light;
}

.header__btn:active {
  color: $main-color-dark;
}

.tel {
  transition: background-color 0.4s ease-in-out, color 0.3s ease-in-out;
}

.tel:focus-visible {
  background-color: $secondary-color-dop;
}

.tel:hover {
  color: $secondary-color-light;
}

.tel:active {
  color: $secondary-color-dark;
}

.search__input {
  transition: background-color 0.4s ease-in-out;
}

.search__input:focus-visible {
  outline: 2px solid $main-color;
  outline-offset: -2px;
  background-color: $background-focus-form;
}

.search__input:hover {
  background-color: $background-light-color;
}

.search__input:active {
  background-color: $background-secondary-color;
}

.search__input:not(:placeholder-shown) {
  background-color: $background-secondary-color;
}

.search__input:not(:placeholder-shown) + .search__icon  {
  color: $main-color;
}

.burger {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.burger:focus-visible {
  background-color: $focus-decor-color;
 }

.burger:hover {
  color: $main-color-light;
}

.burger:active{
  color: $main-color-dark;
}

.burger__icon,
.burger__close-icon {
  transition: opacity 0.4 ease-in-out;
}
