@media (max-width: 1200px) {
  .header-row__conatiner {
    grid-template-columns: repeat($count_grid-column-1024, 1fr);
  }

  // ------- перевая строка --------
  .header-row-1 {
    visibility: visible;
    position: relative;
    padding: 16.5px 0;
    background-color: $background-main-color;

    .header__logo {
      display: none;
    }
  }

  // ------- вторая строка --------
  .header-row-2 {
    padding: 6px 0;

    background-color: $background-secondary-color;

    .header__form-container {
      display: none;
    }

    .header__top-nav {
      display: flex;
      justify-content: flex-start;
      grid-column: span ($count_grid-column-1024 - 2);
    }

    .header__top-nav-list {
      width: 99%;
      margin-left: -8px;
    }

    .header__btn-container {
      display: flex;
      grid-column: span 2;
    }
  }

  // ------- третья строка --------
  .header-row-3 {
    .header__logo {
      grid-column: span 2;
    }
  }

  // ------- четвертая строка --------
  .header-row-4 {
    .header__btn-container {
      display: none;
    }
  }

  //------- стили элементов
  .header__form-container {
    grid-column: span $count_grid-column-1024;
    justify-content: space-between;
  }

  .header__bottom-nav {
    grid-column: span ($count_grid-column-1024 - 2);
    justify-self: end;
    width: 95.3%;
  }

  .search-form {
    grid-column: span $count_grid-column-1024;
  }
}
//------------------------------------------------------------
@media (max-width: 900px) {
  .header-row__conatiner {
    grid-template-columns: repeat($count_grid-column-768, 1fr);
  }

  // ------- вторая строка --------
  .header-row-2 {
    padding: 12px 0;

    .header__btn-container {
      display: none;
    }

    .header__top-nav-list {
      width: calc(100% + 8px);
    }
  }

  // ------- третья строка --------
  .header-row-3 {
    position: relative;
    padding: 28px 0;

    .header-row__conatiner {
      row-gap: ($grid-gap - 4px);
    }

    .header__btn-container {
      display: flex;
    }

    .header__bottom-nav {
      display: none;
    }

    .burger-menu {
      display: block;

      .header__top-nav {
        display: none;
      }

      .header__bottom-nav {
        display: block;
      }
    }
  }

  .header__form-container {
    grid-column: span $count_grid-column-768;
  }

  .header__logo {
    grid-column: span 2;
    justify-self: center;
  }

  .burger {
    position: relative;
    visibility: visible;
    grid-column: span 2;
  }

  .burger-menu {
    visibility: hidden;
    position: absolute;

    top: 0;//-30px;
    left: 0;
    z-index: 100;
    min-width: 100px;
    min-height: 100px;
    background-color: $background-main-color;
    padding: 0 $container-padding-768;
    width: 100%;

    border-top: 1px solid $background-secondary-color;
    background-color: $background-main-color;
   // box-shadow: 4px 4px 4px  transparentize($main-color,0.95);

    transform:  translateX(-100%); //scaleX(0) ;
    transform-origin: left;
    //transition: transform 0.6s ease-in, visibility 0.6s ease-in; // перенесем добавление в burger.js чтобы не было мелькания

    .header__bottom-nav {
      grid-column: initial;
      order: initial;
      padding: 92px 0 60px 0;
      width: 100%;
      background-repeat: no-repeat;
      background-position: bottom 60px right 0;
      background-image: url('../img/decor-logo.svg');
    }

    .header__bottom-nav-list {
      grid-template-columns: repeat(2, auto);
      justify-content: start;
      gap: 41px 64px;
    }
  }

  .burger-menu--active {
    visibility: visible;
    transform: translateX(0); ;
   // transition: transform 0.6s ease-out, visibility 0.6s ease-in;
  }

  .burger-close {
    .burger__icon {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }

    .burger__close-icon {
      position: relative;
      visibility: visible;
      opacity: 1;
    }
  }

  .search-form {
    grid-column: span $count_grid-column-768;
    order: 1;
  }

  .search__input {
    min-width: 70%;
  }

  .search-form {
    .choices {
      min-width: 30%;
    }
  }
}

//------------------------------------------------------------
@media (max-width: 760px) {
  .header-row__conatiner {
    gap: $grid-gap-mobile;
  }

  // ------- вторая строка --------
  .header-row-2 { //спрячем
    position: absolute;
    visibility: hidden;

    .header__top-nav {
      display: none;
    }
  }

  // ------- третья строка --------
  .header-row-3 {
    padding: 10px 0;
    margin-bottom: $grid-gap-mobile;
    border-top: 1px solid $background-secondary-color;
    border-bottom: 1px solid $background-secondary-color;

    .burger-menu {
      display: flex;
      flex-direction: column;

      .header__top-nav {
        display: block;
      }
    }
  }

  // меню в бургере------------------
  .burger-menu {
    padding: 0;

    .header__bottom-nav {
      background-image: none;
    }

    .header__bottom-nav {
      padding: 62px $container-padding-320 26px $container-padding-320;
    }

    .header__bottom-nav-list {
      grid-template-columns: repeat(1, auto);
    }

    .header__top-nav-list {
      padding: 24px $container-padding-320;
      width: 100%;
      background-color: $background-secondary-color;
    }

    .header__top-nav-list {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      gap: $grid-gap-mobile 12px;
      margin-left: -8px;
    }
  }

  .search__input {
    min-width: 60%;
  }

  .search-form {
    .choices {
      min-width: 40%;
    }
  }

  .category-selector {
    flex-grow: 0;
    min-width: 40%;
  }
}
//-----------------------------------------------------------------------------------------------
@media (max-width: 520px) {

  .header-row {
   margin-bottom: $grid-gap-mobile;
  }

  // ------- первая строка --------
  .header-row-1 {
    padding: 12px 0;

    background-color: $background-secondary-color;
    .header__form-container {
      display: none;
    }

    .header__logo {
      display: block;
      grid-column: span $count_grid-column-768;
      justify-self: center;
    }
  }

  // ------- вторая строка --------
  .header-row-2 {
    position: relative;
    visibility: visible;
    padding: 0;
    background-color: $background-main-color;

    .header__form-container {
      display: flex;
    }
  }

// ------- третья строка --------
  .header-row-3 {
    padding: 4px 0;

    .header__logo {
      display: none;
    }

    .header__top-nav {
      display: grid;
    }

    .burger {
      grid-column: span 3;
    }

    .header__btn-container {
      grid-column: span 3;
    }
  }

  .header-row-4 {
    margin-bottom: 0;
  }

  .search-form {
    flex-direction: column;
    gap: $grid-gap-mobile;
    height: initial;

    .choices__inner  {
      min-height: 60px;
      border-radius: 10px;
    }

    .choices__inner::after {
      border-radius: 10px;
    }

    .is-open .choices__inner::after {
      border-radius: 10px;
    }

    .is-open .choices__inner {
      border-radius:  10px 10px 0 0;
    }
  }

  .search__input {
    min-height: 60px;
    border-radius: 10px;
  }
}
