/* Основные hover-эффекты используются для всего сайта*/
.btn-decor1 {
  transition: background-color 0.4s ease-in-out, outline 0.2s ease-in;
}

.btn-decor1:focus-visible {
  outline: 2px solid $main-color-dark;
  background-color: $main-color-light;
  outline-offset: 0;
}

.btn-decor1:hover {
  background-color: $main-color-light;
}

.btn-decor1:active {
  outline: none;
  background-color: $main-color-dark;
}

.btn-decor1:disabled {
  color: $decor-color;
  background-color: $disable-color;
}

.btn-decor2 {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.3s ease-in;
}

.btn-decor2:focus-visible {
  color: $text-color-light;
  background-color: $main-color;
}

.btn-decor2:hover {
  color: $text-color-light;
  background-color: $main-color;
}

.btn-decor2:active {
  border-color:  $main-color-dark;
  color: $text-color-light;
  background-color: $main-color-dark;
}

.nav-link-decor {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link-decor:focus-visible {
  color: $main-color;
  background-color: $focus-decor-color;
}

.nav-link-decor:hover {
  color: $main-color;
}

.nav-link-decor:active {
  color: $main-color-dark;
}

.nav-link-decor2 {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link-decor2:focus-visible {
  background-color: $focus-decor-color;
}

.nav-link-decor2:hover {
  color: $main-color;
}

.nav-link-decor2:active {
  color: $main-color-dark;
}

.swiper-button-disabled:focus-visible,
.swiper-button-disabled:hover,
.swiper-button-disabled:active {
  overflow: auto;
  color: $decor-color;
  stroke: $decor-color;
  fill: transparent;
}
