/* Основные hover-эффекты используются для всего сайта*/
.btn-decor1 {
  transition: background-color 0.4s ease-in-out, outline 0.2s ease-in;
}

.btn-decor1:focus-visible {
  outline: 2px solid $main-color-dark;
  background-color: $main-color-light;
  outline-offset: 0;
}

.btn-decor1:hover {
  background-color: $main-color-light;
}

.btn-decor1:active {
  outline: none;
  background-color: $main-color-dark;
}

.btn-decor1:disabled {
  color: $decor-color;
  background-color: $disable-color;
}

.btn-decor2 {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.3s ease-in;
}

.btn-decor2:focus-visible {
  color: $text-color-light;
  background-color: $main-color-light;
}

.btn-decor2:hover {
  color: $text-color-light;
  background-color: $main-color;
}

.btn-decor2:active {
  border-color:  $main-color-dark;
  color: $text-color-light;
  background-color: $main-color-dark;
}

.nav-link-decor {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link-decor:focus-visible {
  color: $main-color;
  background-color: $focus-decor-color;
}

.nav-link-decor:hover {
  color: $main-color;
}

.nav-link-decor:active {
  color: $main-color-dark;
}

.nav-link-decor2 {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link-decor2:focus-visible {
  background-color: $focus-decor-color;
}

.nav-link-decor2:hover {
  color: $main-color;
}

.nav-link-decor2:active {
  color: $main-color-dark;
}

// ссылка на какталог со стрелкой
// эффект подчеркивания
.arrow-btn-text::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.arrow-btn-decor:focus-visible .arrow-btn-text::before,
.arrow-btn-decor:hover .arrow-btn-text::before {
  opacity: 1;
}

// все круглые стрелки
/* цвета задаются через родительскую кнопки или ссылку arrow-btn-decor
color -  задает цвет окружности
fill - если использовать none то нет задержки
stroke: - задает цвет стрелки */
.arrow-btn-decor {
  transition: color 0.4s ease-in-out;
}

.arrow-icon {
  transition: fill 0.3s ease-in, stroke 0.4s ease-in-out;
}

.arrow-btn-decor:focus-visible {
  stroke: $text-color-light;
  fill: $main-color-light;
}

.arrow-btn-decor:hover {
  stroke: $text-color-light;
  fill: $main-color;
}

.arrow-btn-decor:active {
  color: $main-color-dark;
  fill: $main-color-dark;
  stroke: $text-color-light;
}

//----- стрелки в слйдерах -----
.swiper-button-disabled {
  color: $decor-color;
  stroke: $decor-color;
  cursor: default;
}

.swiper-button-disabled:focus-visible,
.swiper-button-disabled:hover,
.swiper-button-disabled:active {
  overflow: auto;
  color: $decor-color;
  stroke: $decor-color;
  fill: transparent;
}

/* hover-эффекты формы -------------------------------*/
.feedback__input {
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.feedback__input:focus-visible {
  outline: 1px solid $main-color
}

.feedback__input:not(:placeholder-shown):focus-visible {
  outline: 1px solid $form-active-color;
}

.js-validate-error-field:not(:placeholder-shown):focus-visible {
  outline: none;
}

.feedback__input:hover{
  background-color: $background-light-color;
}

.agreement__custom-checkbox  {
  transition: background-color 0.3s ease-in-out;
}

.agreement__input:focus-visible+.agreement__custom-checkbox {
  outline: 1px solid $main-color;
  outline-offset: 1px;
}

.agreement__input:hover+.agreement__custom-checkbox {
  background-color: $main-color-light;
}

.js-validate-error-field+.agreement__custom-checkbox {
  outline: 1px solid $error-color;
  outline-offset: 1px;
}
