@media (max-width: 1200px) {
  /* --- hero --- */
  .hero__title {
    width: 70%;
  }

  .hero__swiper-img1 {
    background-image: url('../img/main/1024/hero-img-1024-1.jpg');
  }

  .hero__swiper-img2 {
    background-image: url('../img/main/1024/hero-img-1024-2.jpg');
  }

  .hero__swiper-img3 {
    background-image: url('../img/main/1024/hero-img-1024-3.jpg');
  }

  /* --- special --- */
  .special__line-img {
    visibility: hidden;
  }

  .special__picture-add {
    .special__img {
      margin-bottom: 32px;
    }
  }

  /*--- catalog ---*/
  .catalog {
    grid-template-columns: repeat($count_grid-column-1024, 1fr);
  }

  /*--- banner ---*/
  .banner {
    background-image: url('../img/main/1024/banner-img-1024.jpg');
  }

  .banner__descr {
    width: 55%;
  }

  /* --- category --- */
  .category__list {
    grid-template-columns: repeat($count_grid-column-1024, 1fr);
  }

  .category__item {
    grid-column: span 3;
  }

  .category__item:nth-child(1) {
    grid-column: span 6;
    .category__name {
      margin-bottom: $catalog-padding;
    }
    .category__picture {
      margin-bottom: $catalog-padding;
    }
  }

  .category__item:nth-child(2) {
    grid-column: span 3;
    order:2;
  }

  .category__item:nth-child(3) {
    .category__picture {
      width: 100%;
    }
    .category__img {
      padding-right: 0;
      width: 100%;
    }
  }

  .category__item:nth-child(4) {
    order:1;
  }

  .category__item:nth-child(5) {
    order:2;
  }

  .category__name {
    margin-bottom: $category-margin-bottom;
  }

  .category__picture {
    margin-bottom: $category-margin-bottom;
  }

  .category__img {
    padding-right: $catalog-padding;
  }

  /* --- useful --- */
  .useful__picture {
    width: 100%;
    font-size: 0;
    line-height: 0;
  }

  .useful__img {
    width: 100%;
    object-fit: cover;
  }


  .useful__descr {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: $internal-padding;
  }

  /* --- feedback ---*/
  .feedback__container {
    grid-template-columns: repeat($count_grid-column-1024, 1fr);
    background-size: 50%;
  }

  .feedback__title {
    grid-column: span $count_grid-column-1024;
  }

  .feedback__form {
    grid-column: span 4;
  }
}
//------------------------------------------------------------
@media (max-width: 900px) {
  /* --- hero --- */
  .hero__swiper-slide {
    background-position: bottom center;
  }

  .hero__swiper-img1 {
    background-image: url('../img/main/768/hero-img-768-1.jpg');
  }

  .hero__swiper-img2 {
    background-image: url('../img/main/768/hero-img-768-2.jpg');
  }

  .hero__swiper-img3 {
    background-image: url('../img/main/768/hero-img-768-3.jpg');
  }

  /*--- special ---*/
  .special__item {
    max-width: initial;
    width: 100%;
  }

  /*--- catalog ---*/
  .catalog {
    grid-template-columns: repeat($count_grid-column-768, 1fr);
  }

  /*--- banner ---*/
  .banner {
    background-image: url('../img/main/768/banner-img-768.jpg');
  }

  .banner__container {
    padding-left: $banner-padding-left-768;
  }

  .banner__descr {
    width: 100%;
  }

  /* --- categiry --- */
  .category__list {
    grid-template-columns: repeat($count_grid-column-768, 1fr);
  }

  .category__item:nth-child(2) {
    order:2;
  }

  .category__item:nth-child(4) {
    order:2;
  }

  /* --- feedback ---*/
  .feedback__container {
    grid-template-columns: repeat($count_grid-column-768, 1fr);
    background-size: contain;
    background-position: right 72px top 50%; /* с процентами при позиционировании изображении не все однозначно, так что пусть бкдет так*/
    background-image: url('../img/main/768/feedback-img-768.png');
  }

  .feedback__title {
    grid-column: span $count_grid-column-768;
  }
}

//------------------------------------------------------------
@media (max-width: 760px) {
  /* --- hero --- */
  .hero__swiper-slide {
    min-height: $hero-height-320;
  }

  .hero__btn {
    width: $hero-btn-width-760;
  }

  .hero__title {
    width: 100%;
    font-size: 36px;
    line-height: 120%;
  }

  /* --- special ---*/
  .special__container {
    padding-bottom: $internal-padding + 32px;
  }

  .special__swiper-btn-container {
    top: initial;
    bottom: 0;
    right: calc(50% - 38.5px);
    font-size: 0;
  }

  .special__item {
    flex-direction: row;
  }

  .special__picture {
    justify-content: center;
    margin-bottom: 0;
    padding: 0 $internal-padding-mobile;
    width: calc(100% - $internal-padding-mobile * 2);
    min-height: $special-picture-height-moble;
  }

  .special__content {
    padding: 0 $internal-padding-mobile;
    width: calc(100% - $internal-padding-mobile * 2);
  }

  /* --- category --- */
  .category__item:nth-child(1) {
    .param-list {
      flex-direction: row;
    }

    .param-item {
      margin-bottom: 0;
    }
  }

  .param-list {
    flex-direction: column;
  }

  .param-item {
    margin-bottom: 3px;
  }

  /* --- useful ---*/
  .useful__container {
    padding-top: 8px;
    padding-bottom: 32px + $internal-padding-mobile;
  }

  /* --- feedback ---*/
  .feedback__container {
    grid-template-columns: repeat(1, 1fr);
    background-image: none;
  }

  .feedback__title {
    grid-column: span 1;
  }

  .feedback__form {
    grid-column: span 1;
  }
}
//-----------------------------------------------------------------------------------------------
@media (max-width: 520px) {
  .section-title {
    font-size: 24px;
  }
  /* --- hero ---*/
  .hero {
    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin-right: 8px;
    }
  }

  .hero__title {
    margin-bottom: $internal-padding;
    width: 70%;
    font-size: 24px;
  }

  /* --- banner --- */
  .banner {
  width: 100%;
  height: $banner-heght-320;
  }

   .banner__title {
    font-size: 36px;
  }

  .banner__descr {
    width: 65%;
    font-size: 24px;
  }

  /* --- category --- */
  .category__list {
    column-gap: $grid-gap-mobile;
    row-gap: $grid-gap;
   }

  .category__item {
    padding: $internal-padding-mobile 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    align-items:flex-end;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .category__item:first-child {
    grid-column: span 6;
    padding: $internal-padding 0 $catalog-padding-mobile;

    .category__name {
      margin-bottom: 0;
      padding: 0 5px 0 $catalog-padding;

    }
    .category__picture {
      margin-bottom: 0;
      margin-top: 11px;
    }

    .param-list {
      margin-left: 0;
      margin-bottom: 14px;
      padding: 0 ($catalog-padding - 8px);
      width: 100%;
    }

    .param-item {
      margin-right: 0;
    }
  }

  .param-list {
    padding: 0 ($catalog-padding-mobile - 8px);
    margin-bottom: 4px;
    width: 100%;
  }

  .category__name {
    padding: 0 5px 0 $catalog-padding-mobile;
    margin-bottom: 0;//$catalog-padding-mobile;
    max-width: 65%;
  }

  .category__picture {
    order: 1;
    margin-top: $catalog-padding-mobile;
    margin-bottom: 0;
    width: 100%;
  }

  .category__img {
    padding-right: 0;
    width: 100%;
  }

  .category__link {
    padding: 0;
    margin-top: 0;
    margin-bottom:0;// $catalog-padding-mobile;
    font-size: inherit;
    padding-bottom: 0.2em;
  }

  .category__link-text {
    visibility: hidden;
    position: absolute;
    font-size: 0;
  }

  /* --- feedback ---*/
  .feedback__title {
    font-size: 24px;
    line-height: 100%;
  }

  .feedback__descr {
    font-size: 14px;
    line-height: 134%; //чтобы попасть в макет pixelperfect
  }

  .agreement {
    font-size: 12px;
    line-height: 14px;
  }

  .agreement__custom-checkbox {
    margin-right: 4px;
  }

  .feedback-btn {
    padding: 19px 35px;
  }
}
/* --------------------------------------------------------------------------------------------------*/
@media (max-width: 410px) {
  /* --- hero --- */
  .hero__title {
  font-size: 20px;
  line-height: 27px;
  }

  .hero__swiper-img1 {
  background-image: url('../img/main/320/hero-img-320-1.jpg');
  }

  .hero__swiper-img2 {
  background-image: url('../img/main/320/hero-img-320-2.jpg');
  }

  .hero__swiper-img3 {
  background-image: url('../img/main/320/hero-img-320-3.jpg');
  }

  .hero {
    .hero__swiper-container {
      height: $hero-height-320;
    }

    .hero__swiper-slide {
      min-height: initial;
      max-height: $hero-img-height-320;
    }

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin-right: 8px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: initial;
      top: ($hero-img-height-320 - 16px);
    }

    .hero__content {
      padding: $internal-padding;
      justify-content: flex-start;
    }

    .hero__btn {
      position: absolute;
      left: $container-padding-320;
      bottom: -1*(32px + $hero-btn-height-320);
      width: calc(100% - ($container-padding-320 * 2));
    }
  }

  /* --- special ---*/
  .special__container {
    padding-bottom: $internal-padding-mobile + 32px;
  }

  .special__item {
    flex-direction: column;
  }

  .special__picture {
    justify-content: center;
    margin-bottom: $internal-padding-mobile;
    padding: 0 $internal-padding-mobile;
    min-height: $special-picture-height;
    width: calc(100% - $internal-padding-mobile * 2);
  }

  .special__content {
    padding: 0 $internal-padding;
    width: calc(100% - $internal-padding * 2);
  }

  /* --- banner --- */
  .banner {
    position: relative;
    background-image: none;
    height: $banner-heght-320;
  }

  .banner__container {
    width: 100%;
    height: $banner-heght-img-320;
    padding: $internal-padding $banner-padding-320;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/main/320/banner-img-320.jpg');
  }

  .banner__title {
    font-size: 24px;
  }

  .banner__descr {
    width: 65%;
    font-size: 16px;
  }

  .banner__btn  {
    position: absolute;
    bottom: 0;
    left: $banner-padding-320;
    width: calc(100% - $banner-padding-320 * 2);
  }

   /* --- category --- */

   .category__item:not(:first-child) {
      .param-item {
        margin-bottom: 0;
        .nav-link-decor {
            font-size: 10px;
            line-height: 100%;
          }
      }
      .category__name {
        font-size: 16px;
        line-height: 104%;
        min-height: 20px;
       }

       .category__link {
        padding-bottom: 0;
      }
   }

   .category__item:first-child {
    .param-list {
      justify-content: space-between;
     }
   }

   .feedback-btn {
    padding: 19px 35px;
    width: initial;
  }
}
