@media (max-width: 1200px) {
  .product {
    margin-bottom: 70px;
   }

  .product-grid-container {
    grid-template-columns: repeat($count_grid-column-1024, 1fr);
  }

  .product__img-btn {
    grid-column: span 5;
  }

  .product__img-preview-container {
    grid-column: span 5;
  }

  .product__description {
    grid-column: span 5;
  }

  .product__img-draft {
    grid-column: span 5;
  }

  .product__characteristic {
    grid-column:  6/span 4;
  }

  .product__card {
    grid-column: 6/span 4;
  }

  .product__img-btn {
    min-height: 202px; // вот это только для того чтобы показать красиво картинки, которых пока нет
  }

  .img-pre__swiper-container {
    padding: 10px;
  }

 .product__img-draft {
    gap: 28px;
  }

  .product__img-draft-pre {
    max-width: calc((100% - 28px) / 2);
  }

  .product__characteristic-value {
    flex-basis: calc(50% + 14px);
  }

  .modal-img {
    top: $modal_top_1024;
  }

  .modal__swiper-dop-container {
    position: relative;
    padding: 0 67px;
  }

  .modal__swiper-container {
    padding: 20px 0;
  }

  .modal--active {
    .modal__btn-container {
      visibility: visible;
    }
  }

  .modal__img-preview-btn {
    width: 100%;
    height: 100%;
  }

  .modal__img-main {
    width: 100%;
    padding: 50px 66px;
  }

  .modal__img  {
    min-height: 322px;
    object-fit: contain ;
  }

  .modal-style {
    top: $modal_info_top_1024;
  }
}

@media (max-width: 900px) {
  .product {
    margin-bottom: 32px;
  }
  .product-grid-container {
    grid-template-columns: repeat($count_grid-column-768, 1fr);
    row-gap: $grid-gap;
  }

  .product__img-btn {
    grid-column: span $count_grid-column-768;
    grid-row: initial;
    justify-self: center;
    margin-bottom: 0;
    min-height: 245px; // вот это только для того чтобы показать красиво картинки, которых пока нет
  }

  .product__img-preview-container {
    grid-column: span 2;
    grid-row: initial;
    margin-bottom: 0;
  }

  .product__description {
    grid-column: span $count_grid-column-768;
    grid-row: initial;
    order: 1;
  }

  .product__img-draft {
    grid-column: span $count_grid-column-768;
    grid-row: initial;
    order: 1;
  }

  .product__description-text {
    width: 84%;
  }

  .product__description-text:last-of-type {
    margin-bottom: 0;
  }

  .product__characteristic {
    grid-column: span $count_grid-column-768;
    grid-row: initial;
    order: 1;
  }

  .product__card {
    grid-column: span 4;
    grid-row: initial;
    align-self: center;
    padding-top: 0;
  }

  .product__img-pre-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .product__characteristic-value {
    flex-basis: 35%;
  }

  .product__img__swiper-container {
    padding: 25px;
    max-height: $product__img-preview-container_height_768;
  }

  .similar__btn-container {
    right: $container-padding-768;
  }

  .modal-style {
    top: $modal_info_top_768;
    left: $container-padding-768;
    width: calc(100% - $container-padding-768 * 2);
  }

  .modal-img {
    top: $modal_top_768;
  }

  .modal__img-main {
    padding: 50px 21px;
  }

  .modal__img  {
    min-height: 228px;
  }

  .modal__swiper-dop-container {
    padding: 0 79px;
  }
}

@media (max-width: 760px) {
  .modal-info {
    left: 20%;
    width: 60%;
    height: $modal_info_height_320;
  }

  .modal-info__img {
    margin-bottom: $grid-gap-mobile;
    width: 73px;
    height: 50px;
  }

  .modal-info__descr {
    font-size: 16px;
    line-height: 100%;
  }
}

@media (max-width: 520px) {
  .btn-decor1 {
    padding: 19px 35px;
  }

  .breadcrumbs {
    display: none;
  }

  .product {
    margin-bottom: 70px;
  }

  .product-grid-container {
    row-gap: $grid-gap-mobile;
  }

  .product__img-preview-container {
    grid-column: span $count_grid-column-768;
  }

  .product__card {
    grid-column: span $count_grid-column-768;
    padding-top: 3px;
  }

  .product__card .estimation {
    margin-bottom: 6px;
  }

  .product__name {
    margin-bottom: 8px;
  }

  .product__descr {
    margin-bottom: $internal-padding-mobile;
  }

  .product__img-pre-list {
    flex-direction: row;
  }

  .product__img-btn {
    min-height: 116px; // вот это только для того чтобы показать красиво картинки, которых пока нет
  }

  .img-pre__swiper-container {
    padding: 10px;
  }

  .product__name {
    font-size: 16px;
    line-height: 130%;
  }

  .product__descr {
    font-size: 14px;
    line-height: 100%;
    width: 80%;
  }

  .product__price {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 130%;
  }

  .product__btn {
    padding: 19px 10px;
    width: 100%;
  }

  .product__btn-add {
    align-self: center;
    margin-bottom: $grid-gap-mobile;
  }

  .product__description {
    margin-bottom: $grid-gap-mobile;
  }

  .product__description-text {
    width: 100%;
  }

  .product__img-draft {
    margin-bottom: $grid-gap-mobile;
  }

  .product__characteristic-value {
    line-height: 136%; //19px
  }

  .similar {
    .btn-decor2 {
      padding: 10px 23px;
    }
  }

  .modal__swiper-container {
    padding: $internal-padding-mobile 0;
  }

  .modal__swiper-dop-container {
    padding: 0 62px;
  }

  .modal-close-btn {
    top: $internal-padding-mobile;
    right: $internal-padding-mobile;

    .close-btn-icon {
      width: 12px;
      height: 12px;
    }
  }

  .modal__img-main {
    padding: 32px 16px;
  }

  .modal-style {
    top: $modal_info_top_768;
    left: $container-padding-320;
    width: calc(100% - $container-padding-320 * 2);
  }

  .modal-form__descr {
    width: 100%;
    margin-bottom: $internal-padding-mobile;
  }

  .modal-form__fieldset {
    margin-bottom: $internal-padding-mobile;
  }
}

@media (max-width: 410px) {
  .product__characteristic-item {
    flex-direction: column;
    margin-bottom: 8px;
  }

  .product__characteristic-item:last-child {
    margin-bottom: 0;
  }

  .product__characteristic-name {
    font-size: 10px;
    line-height: 14px;
  }

  .points {
    display: none;
  }

  .similar__container {
    padding-bottom: 48px;
  }

  .similar__btn-container {
    top: initial;
    bottom: 0;
    right: calc(50% - 38.5px);
  }

  .modal__img-pre {
    max-height: $modal_pre_height_mobile;
  }

  .modal-form__title {
    font-size: 24px;
    line-height: 100%;
  }
}
