/* variables */
@import 'variables.scss';
@import 'mixin.scss';

@import 'main_style.scss';

@import 'header_style.scss';
@import 'svg.scss';

/* --- catalog-container ---*/
.modal_mode {
  position: relative;
  overflow: hidden;
}

.modal_mode::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background-dark-color;
  opacity: 0.3;
}

.catalog-section {
  padding-top: 0;
  padding-bottom: 70px;
}

.catalog-section__container {
  @include gridTemplate($count_grid-column, $grid-gap);
  row-gap: 0;
}

.catalog-section__title {
  @include clean();
  grid-column: span 9;
  grid-row: 1/ span 1;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: $text-color;
}

/* filter */
.filter {
  grid-column: 1/span 3;
  grid-row: 1/span 2;
  padding-bottom: $grid-gap;
}

.filter__grid-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 26px;
}

.filter__title {
  position: relative;
  @include clean();
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: $text-color;
}

.filter__title-adaptive {
  visibility: hidden;
  position: absolute;
}

.filter__fieldset {
  position: relative;
  @include clean();
 // margin-bottom: 26px;
  border: none;
}

.filter__subtitle {
  @include clean();
  margin-bottom: 9px;
  font-weight: 600;
}

.filter__btn {
  visibility: hidden;
  position: absolute;
  font-weight: 400;
}

.filter__btn,
.filter__subtitle {
  font-size: 16px;
  line-height: 140%;
  color: $text-color-grey;
}

.filter__checkbox-list {
  display: flex;
  flex-direction: column;
}

.filter__checkbox-item {
  margin-bottom: 10px;
}

.filter__checkbox-item:last-child {
  margin-bottom: 0;
}

.filter__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: $text-color-grey;
}

.filter__checkbox-label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}

.filter__price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.filter__input {
  margin-left: 9px;
  padding: 3px 12px 4px 12px;
  width: 86px;
  border: 1px solid $decor-color;
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.filter__checkbox__input {
  position: absolute;
  opacity: 0;
}

.filter__checkbox-check {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid $decor-color;
  border-radius: 2px;
  color: $text-color-light;
}

.filter__checkbox__input:checked + .filter__checkbox-check  {
  background-color: $main-color;
  border-color: $main-color;
}

.filter__checkbox-check::after {
  position: absolute;
  content: '';
  top: 22%;
  left: 15%;
  width: 12px;
  height: 6px;
  border: 2px solid $text-color-light;
  border-top: none;
  border-right: none;
  transform: rotate(315deg);
  opacity: 0;
}

.filter__checkbox__input:checked + .filter__checkbox-check::after   {
  opacity: 1;
}

.runner {
  position: relative;
  width: 100%;
  height: 13px;
}

.runner__line-base {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: $background-light-color;
}

.runner__line {
  position: absolute;
  top: 0;
  left: 5.06%;
  z-index: 41;
  width: 62.5%;
  height: 3px;
  border-radius: 3px;
  background-color: $main-color;
}

.runner__btn {
  position: absolute;
  top: -1px;
  z-index: 43;
  color: $main-color;
  background-color: transparent;
}

.runner__btn-left {
  left: calc(5.06% - 6px);
}

.runner__btn-right {
  left: calc(67.56% - 7px);
}

/* catalog */
.catalog-container {
  grid-column: span 9;
  grid-row: 2/span 2;
  display: flex;
  flex-direction: column;
  gap: $grid-gap;
}
.catalog {
  @include gridTemplate( $count_grid-column-1024, $grid-gap);
}

@import '_cards_style.scss';

.catalog-btn-container {
  align-self: center;
}

/* banner */
.banner {
  grid-column: 1/span 3;
  grid-row: 3/ span 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  border-radius: 10px;
  background-color: $background-dark-color;
}

.banner__decor {
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('../img/catalog/catalog-banner-img.jpg');
}

.banner__content {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.banner__title {
  @include clean();
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: $secondary-color-light;
}

.banner__descr {
  @include clean();
  margin-bottom: 12px;
  width: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $decor-color;
}

.banner__link  {
  display: flex;
  align-items: center;
}

.banner__link-text {
  font-size: 16px;
  line-height: 130%;
}

.banner__link-icon {
  width: 22px;
  height: 22px;
}

/* catalog-btn-container*/
.catalog-btn-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 16px;
 // padding-top: $grid-gap;
}

.catalog-btn {
  visibility: visible;
  padding: 6px 9px;
  border-radius: 10px;
  border: 2px solid $main-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: $main-color;
  background-color: transparent;
}

.catalog-btn--active {
  color: $text-color-light;
  background-color: $main-color;
}

.catalog-btn--hidden {
  position: absolute;
  visibility: hidden;
  color: $text-color-light;
  background-color: $main-color;
}

@import 'footer_style.scss';

@import 'main_effects.scss';
@import 'catalog_effect.scss';

@import 'main_media.scss';
@import 'catalog_media.scss';
