/* variables */
@import 'variables.scss';
@import 'mixin.scss';

@import '_main_style.scss';

@import '_header_style.scss';

/* --- hero  ---*/
.hero {
  position: relative;
  overflow-x: hidden;
}

.hero__swiper-slide {
  position: relative;
  min-height: $hero-height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__swiper-img1 {
  background-image: url('../img/main/1920/hero-img-1.jpg');
}

.hero__swiper-img2 {
  background-image: url('../img/main/1920/hero-img-2.jpg');
}

.hero__swiper-img3 {
  background-image: url('../img/main/1920/hero-img-3.jpg');
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  max-width: 1280px
}

.hero__title {
  @include clean();
  margin-bottom: 49px;
  width: 45%;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: $decor-color;
}

.hero__btn {
  width: $hero-btn-width;
}

.hero__swiper-img3  {
  .hero__title {
    color: $text-color-light;
  }
}

.hero__swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
}

.hero {
   .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      opacity: 0.3;
      background: $text-color;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0;
      margin-right: 16px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      z-index: 50;
      bottom: 23px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
  }
}

/* --- special --- */
.special__container {
  position: relative;
  overflow-x: hidden;
}

/* внутри swiper border-box: content-box!!!*/
.special__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $internal-padding 0;
  max-width: $special-card-width;
  @include background-decor();
}

.swiper-slide {
  height: initial; //! если будет 100% то не растягивается по align-item: stretch, пока не поняла почему
}

.special__swiper-add-item {
  //min-width: calc((100% - (($special-card-width + $grid-gap) * 2)) - $internal-padding * 2);
  min-width: calc(100% - (($special-card-width + $grid-gap) * 2));
  position: relative;
  flex-grow: 1;
}

.sale {
  position: absolute;
  top: 30px;
  left:0;
  z-index: 11;
  padding: 7px;
  min-width: 68px; /* 92px - 7px*2 (падинги) -10px (стрелка) */
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: $text-color-light;
  background-color: $secondary-main-color;
}

.sale::before {
  content: '';
  position: absolute;
  right: -10px;
  top:0;
  width: 0;
  height: 0;
  border-top: 16.5px solid transparent;
  border-bottom: 16.5px solid transparent;
  border-left: 10px solid  $secondary-main-color;
}

.special__picture {
  align-self: center;
  margin-bottom: 16px;
  min-height: $special-picture-height;
  display: flex;
  align-items: flex-end;
  padding: 0 21px;
}

.special__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 $internal-padding;
  width: calc(100% - $internal-padding * 2);
  height: 100%;
}

.special__name {
  @include clean();
  margin-bottom: 23px;
  max-width: 225px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.special__price {
  @include clean();
  margin-top: auto;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
}

.special__new-price {
  margin-right: 30px;
  color: $secondary-main-color;
}

.special__old-price {
  font-size: 16px;
  color: $decor-color;
  text-decoration-line: line-through;
}

.special__line-img {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 38%;
}

.special__swiper-button-prev{
  margin-right: 13px;
}

.swiper__btn-container {
  position: absolute;
  top: 0;
  right: 0 ;//$container-padding;
  font-size: 0;
}

.swiper-button-disabled {
  color: $decor-color;
  stroke: $decor-color;
  cursor: default;
}

/* --- top --- */
.top__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog {
  @include gridTemplate($count_grid-column, $grid-gap);
  //grid-auto-rows: $catalog-card-height;
  margin-bottom: 32px;
  width: 100%;
}

.top__btn {
  align-self: center;
  width: $top-btn-width;
}

@import '_cards_style.scss';

/* --- banner ---*/
.banner {
  width: 100%;
  height: $banner-heght;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../img/main/1920/banner-img.jpg');
}

.banner__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.banner__title {
  @include clean();
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  color: $decor-banner-color;
}

.banner__descr {
  @include clean();
  margin-bottom: 49px;
  width: 40%;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: $text-color-light;
}

.banner__btn {
  width: $banner-btn-width;
}

/* --- category ---*/
.category__list {
  @include gridTemplate($count_grid-column, $grid-gap);
  font-size: 0;
}

.category__item {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $catalog-padding 0;
  font-size: 14px;
  line-height: 100%;
  @include background-decor();
}

.category__item:first-child {
  grid-column: span 6;
}

.category__item:nth-child(2) {
  grid-column: span 6;
}

.param-list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
  padding: 0 ($catalog-padding - 8px); /*8px чтобы сделать фокус эффект с фоном */
}

.param-item {
  margin-right: $catalog-padding - 16px;
}

.param-item:last-child {
  margin-right: 0;
}

.category__name {
  @include clean();
  margin-bottom: $catalog-padding;
  padding: 0 $catalog-padding;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.category__picture {
  margin-bottom: $catalog-padding;
  font-size: 0; /*убираем лишние 2 px*/
  line-height: 100%;
}

.category__link {
  display:flex;
  margin-top: auto;
  padding: 0 $catalog-padding;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: $main-color;
}

.category__link-text {
  position: relative;
  margin-right: 5px;
}

/* --- useful ---*/
.useful__container {
  position: relative;
  overflow-x: hidden;
}

.useful__list{
  align-items: stretch;
}

.useful__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  //min-height: $useful-height;
  @include background-decor();
}

.useful__picture {
  max-height: 426px;
}

.useful__content {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding: $useful-padding;
  }

.useful__descr {
  @include clean();
  margin-bottom: 37px;
  font-size: 24px;
  line-height: 33px;
}

.useful-link {
  margin-top: auto;
}

.useful__swiper-button-prev {
  margin-right: 13px;
}

/*  --- feedback ---*/
.feedback__container {
  @include gridTemplate($count_grid-column, $grid-gap);
  row-gap: 0;
  background-size: 46%;
  background-position: right $container-padding center;
  background-repeat: no-repeat;
  background-image: url('../img/main/1920/feedback-img.png');
}

.feedback__title {
  grid-column: span $count_grid-column;
  @include clean();
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: $text-color;
}

.feedback__form {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 // width: calc((100% - $grid-gap) / 2);
}

.feedback__descr {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 19px;
  color: $text-color-grey;
}

.feedback__info-icon {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.tooltip__popup {
  visibility: hidden;
  position: absolute;
  bottom: calc(100%  + 13px);
  left: calc( -1 *( 80px - 50%));
  padding: 5px;
  width: 160px;
  font-size: 9px;
  line-height: 14px;
  text-align: center;
  color: $text-color-light;
  background-color: $background-dark-color;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-out;
}

.tooltip__popup::before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: calc(50% - 8px);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $background-dark-color;

}

.feedback__info-icon:hover + .tooltip__popup {
  visibility: visible;
  opacity: 1;
}

.input-container {
  position: relative;
  @include clean();
  border: none;
  margin-bottom: $feedback-padding;
  width: 100%;
  background-color: transparent;
}

.feedback__input {
  @include clean();
  border: none;
  padding: 6px 17px;
  width: 100%;
  font-size: 16px;
  line-height: 40px;
  border: 1px solid transparent; /* добавлено чтобы при ошибке не добавлялся бордер а просто перекращивался*/
  @include background-decor();
  cursor: pointer;
}

.feedback__input::placeholder {
  color: $decor-color;
}

.js-validate-error-label {
  position: absolute;
  top: -15px;
  left: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.feedback-btn {
  padding: 19px 35px;
  margin-bottom: 12px;
}

.agreement {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.agreement__input {
  position: absolute;
  top: 4px;
  left: 0;
  opacity: 0;
}

.agreement__custom-checkbox {
  position: relative;
  display: inline-block;
  border-radius: 2px;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  color: transparent;
  background-color: $main-color;
  vertical-align: middle;
}

.agreement__custom-mark {
  position: absolute;
  top: 3px;
  left: 2px;
}

.agreement__input:checked + .agreement__custom-checkbox {
    color: $text-color-light;
}

.agreement__link {
  text-decoration-line: underline;
  color: $main-color;
}

@import '_footer_style.scss';

@import 'svg.scss';
@import 'effects.scss';
@import 'media.scss';

