/* variables */
@import 'variables.scss';
@import 'mixin.scss';

@import 'main_style.scss';

@import 'header_style.scss';
@import 'svg.scss';

/* --- catalog-container ---*/
 .product {
  margin-bottom: 81px;
 }

.product-grid-container {
  @include gridTemplate($count_grid-column, $grid-gap);
  row-gap: 0;
}

.product__img-btn {
  grid-column: span 6;
  margin-bottom: 16px;
  min-height: 245px; // вот это только для того чтобы показать красиво картинки, которых пока нет
}

.product__img-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__img {
  height: 100%;
  object-fit: contain;
}

.product__img-preview-container {
  grid-column: span 6;
  grid-row: 2/3;
  margin-bottom: $grid-gap;
}

.product__description {
  grid-column: span 6;
  grid-row: 3/4;
}

.product__img-draft {
  grid-column: span 6;
  grid-row: 4/5;
  justify-self: start;
  align-self: end;

  display: flex;
  justify-content: space-between;
  gap: $grid-gap;
}

.product__characteristic {
  grid-column:  7/span 6;
  grid-row: 3/5;
}

.img-pre__swiper-container {
  padding: 10px 25px;
  overflow: hidden;
  width: 100%;
  background-color: $background-secondary-color;
}

.product__img-pre-list {
  .swiper-slide {
    height: auto;
    width: auto;
  }
}

.product__img-preview-btn {
  cursor: pointer;
  font-size: 0;
  line-height: 0;
}

.product__img-preview-item {
  font-size: 0;
  line-height: 0;
}

.img-preview-item--hidden {
  visibility: hidden;
  position: absolute;
}

.product__img-pre {
  max-height: 61px;
  height: 100%
}

.product__description-title {
  @include clean();
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}

.product__description-text {
  @include clean();
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
}

/* product__card */
.product__card {
  grid-column: 7/span 6;
  grid-row: 1/3;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 14px;

  .estimation {
    position: relative;
    margin-bottom: 2px;
    top:initial;
    left:initial;
  }
}

 .section__title {
  @include clean();
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
}

.product__name {
  margin-bottom: 5px
}

.product__descr {
  @include clean();
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $decor-color;
}

.product__price {
  @include clean();
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}

.product__btn {
  margin-bottom: 12px;
  padding: 19px 35px;
  font-weight: 600;
}

.product__btn-add {
  padding: 0 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $main-color;
}

/* product__characteristic */
.product__characteristic-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 179%; //180% не попадало в макет ( в макете высота получалась 25px, а в браузере 25,188)
}

.product__characteristic-name {
  flex-shrink: 0;
  margin-right: 4px;
  color: $decor-color;
}

.product__characteristic-value {
  flex-shrink: 0;
  flex-basis: calc((100% - $grid-gap) / 2 );
}

.points {
  position: relative;
  flex-grow: 1;
  margin-right: 4px;
  padding: 0 4px 0 4px;
  overflow: hidden;
  letter-spacing: 0.2em;
  color: $decor-color;
}

.points::after {
  position: relative;
  content: '..............................................................................................................................................................';
 }
/* еще вариант организации точек
.points {
  position: relative;
  flex-grow: 1;
  margin-right: 4px;
}

.points::after {
  position: absolute;
  content: '';
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 14px;
  border-bottom: 2px dotted $decor-color;
}*/

/* ---- similar --- */
.similar__title {
  margin-bottom: 24px;
}

.similar__container {
  position: relative;
}

.similar__btn-container {
  position: absolute;
  top: 0;
  right: $container-padding;
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.similar__swiper-container {
  overflow: hidden;
}

.swiper-slide {
  height: initial; //! если будет 100% то не растягивается по align-item: stretch, пока не поняла почему
}


/* ---------------- modal ---------------*/
.modal-mode {
  position: relative;
 // overflow: hidden;
}

.modal-mode::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  background-color: $background-dark-color;
  opacity: 0.3;
}

.modal {
  visibility: hidden;
  position: absolute;
  left: 0;
  z-index: 151;
  width: 100%;
}

.modal-img {
  top: $modal_top;
}

.modal__img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: $background-main-color;
}

.modal__img-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  //outline: auto;
}

.modal--active {
  visibility: visible;
}

.modal__img-pre-list .swiper-slide {
  width: auto;
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__img {
  object-fit: contain;
  min-height: 518px;
 /// outline: 1px solid #cc1c1c;
}

.modal__swiper-container{
  overflow: hidden;
  background-color: $background-secondary-color;
}

.modal__img-pre-list  {
  padding: 20px 51px;
}
/*---------------------------------*/

/* hover - effects*/
.product__btn-add {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.product__btn-add:focus-visible {
  background-color: $focus-decor-color;
}

.product__btn-add:hover {
  color: $main-color-light;
}

.product__btn-add:active {
  color: $main-color-dark;
}


@import 'cards_style.scss';
@import 'footer_style.scss';
@import 'main_effects.scss';
@import 'main_media.scss';
@import 'product_media.scss';
