/* variables */
@import 'variables.scss';
@import 'mixin.scss';

@import 'main_style.scss';

@import 'header_style.scss';
@import 'svg.scss';


/* --- breadcrumbs  ---*/
.breadcrumbs {
  padding-top: 23px;
  font-size: 14px;
  line-height: 16px;
  color: $decor-color;
}

.breadcrumbs__link-last {
  color: $main-color;
}

/* --- catalog-container ---*/
.catalog-container {
  @include gridTemplate($count_grid-column, $grid-gap);
  row-gap: 0;
}

.catalog-section__title {
  @include clean();
  grid-column: span 9;
  grid-row: 1/ span 1;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: $text-color;
}

/* filter */

.filter {
  grid-column: 1/span 3;
  grid-row: 1/3;
}

.filter__title {
  position: relative;
  @include clean();
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: $text-color;
}

.filter__title-adaptive {
  visibility: hidden;
  position: absolute;
}

.filter__fieldset {
  @include clean();
  margin-bottom: 26px;
  border: none;
}

.filter__subtitle {
  @include clean();
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: $text-color-grey;
}

.filter__checkbox-list {
  display: flex;
  flex-direction: column;
}

.filter__checkbox-item {
  margin-bottom: 10px;
}

.filter__checkbox-item:last-child {
  margin-bottom: 0;
}

.filter__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $text-color-grey;
}

.filter__checkbox-label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}

.filter__price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filter__input {
  padding: 3px 12px 4px 12px;
  width: 86px;
  border: 1px solid $decor-color;
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.filter__checkbox__input {
  position: absolute;
  opacity: 0;
}

.filter__checkbox-check {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid $decor-color;
  border-radius: 2px;
  color: $text-color-light;
}

.filter__checkbox__input:checked + .filter__checkbox-check  {
  background-color: $main-color;
  border-color: $main-color;
}

.filter__checkbox-check::after {
  position: absolute;
  content: '';
  top: 22%;
  left: 15%;
  width: 12px;
  height: 6px;
  border: 2px solid $text-color-light;
  border-top: none;
  border-right: none;
  transform: rotate(315deg);
  opacity: 0;
}

.filter__checkbox__input:checked + .filter__checkbox-check::after   {
  opacity: 1;
}

/*filter__checkbox effect*/
.filter__checkbox-check  {
  transition: border-color 0.4s ease-in-out;
}

.filter__checkbox__input:focus-visible + .filter__checkbox-check  {
  border-color: $main-color;
  background-color: $main-color-light;
}

.filter__checkbox__input:hover + .filter__checkbox-check  {
  border-color: $main-color;
}

.filter__checkbox__input:active + .filter__checkbox-check  {
  border-color: $main-color-dark;
}

/* catalog */

.catalog {
  grid-column: span 9;
  grid-row: 2 / 4;
  @include gridTemplate( $count_grid-column-1024, $grid-gap);
}

@import '_cards_style.scss';

.catalog-btn-container {
  grid-column: 4/span 9;
  grid-row: 4/ span 1;
  justify-self: center;
}

/* banner */
.banner {
  grid-column: 1/span 3;
  grid-row: 3/ span 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: $background-dark-color;
}

.banner__decor {
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('../img/catalog/catalog-banner-img.jpg');
}

.banner__content {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.banner__title {
  @include clean();
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: $secondary-color-light;
}

.banner__descr {
  @include clean();
  margin-bottom: 12px;
  width: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $decor-color;
}

.banner__link  {
  display: flex;
  align-items: center;
}

.banner__link-text {
  font-size: 16px;
  line-height: 130%;
}

.banner__link-icon {
  width: 22px;
  height: 22px;
}

/* catalog-btn-container*/
.catalog-btn-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-top: $grid-gap;
}

.catalog__btn {
  visibility: visible;
  padding: 8px 11px;
  border-radius: 10px;
  border: 2px solid $main-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: $main-color;
  background-color: transparent;
}

.catalog__btn--active {
  color: $text-color-light;
  background-color: $main-color;
}

.catalog__btn--hidden {
  position: absolute;
  visibility: hidden;
  color: $text-color-light;
  background-color: $main-color;
}

@import '_footer_style.scss';

@import '_main_effects.scss';

//@import 'effects.scss';
@import 'media.scss';

