/* variables */
@import 'variables.scss';
@import 'mixin.scss';


/* fonts*/
@font-face {
    @include fontFace ("OpenSans", "OpenSans", "Regular", 400);
}

@font-face {
  @include fontFace ("OpenSans", "OpenSans", "SemiBold", 600);
}


@font-face {
    @include fontFace ("OpenSans", "OpenSans", "Bold", 700);
}

@font-face {
    @include fontFace ("Playfair Display", "PlayfairDisplay", "Black", 900);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

picture {
  max-width: 100%;
}

body {
    @include clean();
    font-family: $font-stack;
    font-style: normal;
    font-weight: 400;
    color: $text-color;
    background: $background-main-color;
    min-width: 320px;
}

.disable {
  display: none;
}

/* --- general --- */
.container {
  margin: 0 auto; //auto;
  padding: 0 $container-padding;
  max-width: 1280px + $container-padding*2;
}

.section {
  margin-bottom: $section-margin;
}

.section-title {
  @include clean();
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
}

.btn {
  @include clean();
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link {
  @include clean();
  cursor: pointer;
}

.list {
  @include clean();
  list-style: none;
}

.btn:focus-visible {
  outline: none;
}

.link:focus-visible {
  outline: none;
}

.grid-container {
  @include gridTemplate(12, $grid-gap);
}

.btn-decor1 {
  padding: 22px 0;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: $text-color-light;
  text-align: center;
  background-color: $main-color;
}

.btn-decor2 {
  padding: 17px 33px;
  border-radius: 10px;
  border: 2px solid $main-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: $main-color;
  background-color: transparent;
}

.nav-link-decor {
  padding: 0 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $decor-color;
}

.arrow-btn-decor {
  font-size: 0;
  color: $main-color; /*задает цвет окружности*/ /*задает цвет стрелки*/
  fill: transparent;  /* если использовать none то нет задержки*/
  stroke: $main-color;  /*задает цвет стрелки*/ /*задает цвет окружности*/
}

/* --- header ---*/
.header {
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;
  background: linear-gradient(to bottom, $background-secondary-color $header-row-height1, $background-main-color 0%);
}

.header__grid-container {
  display: grid;
  grid-template-columns: repeat($count_grid-column, 1fr);
  grid-template-rows: $header-row-height1 $header-row-height2 $header-row-height3;
  row-gap: 0;
  column-gap: $grid-gap;
  align-items: center;
}

.header__form-container {
  grid-column: 1/span 5;
  display: flex;
}

.region-form {
  display:flex;
  margin-right: 30px;
}

.region-label {
  margin-right: 4px;
}

/* custom select*/
.region-selector {
  color: $main-color;
  border: none;
  background-color: transparent;
}

.region-form {
  display: flex;
  align-items: center;

  /* choices кастомный селект*/
  .choices {
    margin-top: 2px;
    color: $main-color;
    transition: color 0.3s ease-in-out;
  }

  .choices__inner {
    position:relative;
    margin-right: 4px;
    padding: 0;
    border: none;
    min-height: initial;
    color: inherit;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
  }

  .choices__list--single {
    padding: 0 16px 3px 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
  }

  .choices[data-type*=select-one]::after {
    content: "";
    position: absolute;
    top: initial;
    bottom: calc(0.5em + 2px);
    right:4px;
    margin-top: 0;
    width: 8px;
    height: 8px;

    border: 1px solid currentColor;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
  }

  .choices[data-type*=select-one]:focus-visible  .choices__inner {
    background-color: $focus-decor-color;
  }

  .choices[data-type*=select-one]:hover {
    color: $main-color-light;
  }

  .choices[data-type*=select-one]:active {
    color: $main-color-dark;
  }

  /* в раскрытом состоянии */
  .choices[data-type*=select-one]:focus-visible.is-open  .choices__inner {
    background-color: transparent;
  }

  .choices[data-type*=select-one]:hover.is-open {
    color: $main-color;
  }

  .choices[data-type*=select-one]:active.is-open {
    color: $main-color;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 2px;
    margin-bottom: 8px;
  }

  .choices__list--dropdown .choices__item:last-child {
    margin-bottom: 0;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    top: 100%;
    margin-top: 0px;
    padding: 16px;
    min-width: 110px;
    background-color: $background-main-color;
    border: 2px solid $background-secondary-color;
    transform: scaleY(0);
    transform-origin: right top;
    transition: transform 0.2s ease-out, visibility 0.2s ease-out;
    //word-break: normal;
  }
  /*пока не понимаю, что делать с шириной чтобы соответсвовала макету,
  и при этом была адаптивной, т.е. расширялась при добавлении более длинного слова*/

  .is-open .choices__list--dropdown,
  .is-open .choices__list[aria-expanded] {
   transform: scaleY(1);
   color: $text-color;
  }

  .choices[data-type*=select-one].is-open::after {
    content: "";
    position: absolute;
    top: initial;
    bottom: calc(0.5em + 2px);
    right: 4px;
    margin-top: 0;
    width: 8px;
    height: 8px;
    border-color: currentColor;
    transform: translateY(4px) rotate(135deg);
    transition: transform 0.3s ease-in-out;
  }

    /* выделение элементов списка при фокусе и наведении*/
  .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: $focus-decor-color;
    color: var(--highlight-color);
  }

  /*скрываем выбранный эдемент*/
  .choices__list--dropdown .choices__item--selectable.is-selected,
  .choices__list[aria-expanded] .choices__item--selectable.is-selected {
    visibility: hidden;
    position: absolute;
    top:0;
    left:0;
  }
}
/* ------ */

.tel {
  display:flex;
  align-items: center;
  font-size: 14px;
  line-height: 100%;
  color: $secondary-main-color;
}

.header__top-nav {
  position: relative;
  grid-column: span 7;
  display: flex;
  justify-content: flex-end;
}

.header__top-nav-list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 710px; /*!вернуться и еще подумать*/
  margin-left: -8px;
}

.header__logo {
  grid-column: span 3;
}

.header__bottom-nav {
  grid-column: span 9;
}

.header__bottom-nav-list {
  display: flex;
  justify-content: space-between;
  margin-left: -7px;
}

.nav-link-decor2 {
  padding: 0 7px;
}

.search-form {
  grid-column: span 10;
  display:flex;
  height: 100%;
}

.search {
  position: relative;
  height: 100%;
  flex-grow: 1;
  color: $decor-color;
}

.search__icon {
  position: absolute;
  top: calc(100% / 2 - 10px);
  left: 32px;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.search__input {
  padding: 0 74px 0 59px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: $text-color;
  background-color: $background-secondary-color;
}

.search__btn {
  position: absolute;
  top: calc(100% / 2 - 16px);
  right: 32px;
}

.category-selector {
  flex-grow: 0;
  min-width: 300px;
  padding: 0 32px;
  border: 2px solid $background-secondary-color;
  border-radius: 0px 10px 10px 0px;
  color: $main-color;
}

/* choises for category-selector */
.search-form  {
  /* choices кастомный селект*/
  .choices {
    position: relative;
    flex-grow: 0;
    min-width: $category-selector-width;
    z-index: 50;
    background-color: $background-main-color;
  }

  .choices__inner {
    position:relative;
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
    border: 2px solid $background-secondary-color;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
    overflow: visible; /* без этого не получается отрисовать красиво*/
    transition: border-color 0.4s ease, background-color 0.3s ease;
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
  }

  .choices__placeholder {
    opacity: 1;
  }

  .choices__list--single {
    padding: 0 $internal-padding;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $main-color;
  }

  .choices[data-type*=select-one]::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: $internal-padding;
    margin-top: 0;
    width: 8px;
    height: 8px;

    border: 1px solid $main-color;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, border-color 0.4s ease;
  }

  .choices__inner::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 52;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid $background-secondary-color;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
    transition: border-color 0.4s ease;
  }

  /* hover-эффекты*/
  .choices[data-type*=select-one]:focus-visible .choices__inner {
    background-color: $background-focus-form;
  }

  .choices[data-type*=select-one]:focus-visible .choices__inner::after {
    border-color: $main-color;
  }

  .choices[data-type*=select-one]:hover .choices__inner::after {
    border-color: $main-color;
  }

  .choices[data-type*=select-one]:active .choices__inner::after {
    border-color: $main-color-dark;
  }

  /* в раскрытом состоянии */
  .is-open .choices__inner {
    border-radius: 0 10px 0 0;
    border-bottom-color: transparent;
  }

  .is-open .choices__inner::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 52;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid $background-secondary-color;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
  }

  .choices[data-type*=select-one]:focus-visible.is-open  .choices__inner {
    background-color: transparent;
  }

  .choices[data-type*=select-one]:focus-visible.is-open .choices__inner::after {
    border-color: $background-secondary-color;
  }

  .choices[data-type*=select-one]:hover.is-open .choices__inner::after {
    border-color: $background-secondary-color;
  }

  .choices[data-type*=select-one]:active.is-open .choices__inner::after {
    border-color: $background-secondary-color;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 2px;
    margin-bottom: 8px;
  }

  .choices__list--dropdown .choices__item:last-child {
    margin-bottom: 0;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    top: 100%;
    z-index: 51;
    margin-top: 0;
    padding: 22px $internal-padding;
    background-color: $background-main-color;
    border: 2px solid $background-secondary-color;
    border-radius: 0 0 10px 10px;
    border-top: none;
    transform: scaleY(0);
    transform-origin: right top;
    transition: transform 0.2s ease-out;
  }

  .is-open .choices__list--dropdown,
  .is-open .choices__list[aria-expanded] {
   transform: scaleY(1);
  }

  .choices__list--dropdown .choices__list,
  .choices__list[aria-expanded] .choices__list {
    column-count: 2;
    column-width: 60px;
    column-gap: 30px;
  }

  .choices[data-type*=select-one].is-open::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: $internal-padding;
    margin-top: 0;
    width: 8px;
    height: 8px;
    border-color: $main-color;
    transform: translateY(4px) rotate(135deg);
  }

   /* выделение элементов списка при фокусе и наведении*/
  .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: $focus-decor-color;
    color: var(--highlight-color);
  }

  /*скрываем выбранный эдемент*/
  .choices__list--dropdown .choices__item--selectable.is-selected,
  .choices__list[aria-expanded] .choices__item--selectable.is-selected {
    visibility: hidden;
    position: absolute;
    top:0;
    left:0;
  }
}

/*-------*/

.header__btn-container {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  gap:32px;
}

.header__btn {
  color: $main-color;
  margin-right: -4px;
  padding: 4px;
}

.basket-btn {
  position: relative;
  padding: 4px 4px 4px 16px;
}

.basket-btn__count {
  position: absolute;
  top: 9px;
  right: 31px;
  padding: 2px 4px 3px 4px;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  color: $text-color-light;
  background-color: $secondary-main-color;
  border-radius: 20px;
}

.burger {
  position: absolute;
  visibility: hidden;
  justify-self: start;
  padding: 4px;
  margin-left: -1px;
  color: $main-color;
}

.burger__close-icon {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

/* --- hero  ---*/
.hero {
  position: relative;
  overflow-x: hidden;
}

.hero__swiper-slide {
  position: relative;
  min-height: $hero-height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__swiper-img1 {
  background-image: url('../img/main/1920/hero-img-1.jpg');
}

.hero__swiper-img2 {
  background-image: url('../img/main/1920/hero-img-2.jpg');
}

.hero__swiper-img3 {
  background-image: url('../img/main/1920/hero-img-3.jpg');
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  max-width: 1280px
}

.hero__title {
  @include clean();
  margin-bottom: 49px;
  width: 45%;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: $decor-color;
}

.hero__btn {
  width: $hero-btn-width;
}

.hero__swiper-img3  {
  .hero__title {
    color: $text-color-light;
  }
}

.hero__swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
}

.hero {
   .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      opacity: 0.3;
      background: $text-color;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0;
      margin-right: 16px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      z-index: 50;
      bottom: 23px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
  }
}

/* --- special --- */
.special__container {
  position: relative;
  overflow-x: hidden;
}

/* внутри swiper border-box: content-box!!!*/

.special__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $internal-padding 0;
  max-width: $special-card-width; // - $internal-padding * 2;
  @include background-decor();
}

.swiper-slide {
  height: initial; //! если будет 100% то не растягивается по align-item: stretch, пока не поняла почему
}

.special__swiper-add-item {
  //min-width: calc((100% - (($special-card-width + $grid-gap) * 2)) - $internal-padding * 2);
  min-width: calc(100% - (($special-card-width + $grid-gap) * 2));
  position: relative;
  flex-grow: 1;
}

.sale {
  position: absolute;
  top: 30px;
  left:0;
  z-index: 11;
  padding: 7px;
  min-width: 68px; /* 92px - 7px*2 (падинги) -10px (стрелка) */
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: $text-color-light;
  background-color: $secondary-main-color;
}

.sale::before {
  content: '';
  position: absolute;
  right: -10px;
  top:0;
  width: 0;
  height: 0;
  border-top: 16.5px solid transparent;
  border-bottom: 16.5px solid transparent;
  border-left: 10px solid  $secondary-main-color;
}

.special__picture {
  align-self: center;
  margin-bottom: 16px;
  min-height: $special-picture-height;
  display: flex;
  align-items: flex-end;
  padding: 0 21px;
}

.special__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 $internal-padding;
  width: calc(100% - $internal-padding * 2);
  height: 100%;
}

.special__name {
  @include clean();
  margin-bottom: 23px;
  max-width: 225px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.special__price {
  @include clean();
  margin-top: auto;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
}

.special__new-price {
  margin-right: 30px;
  color: $secondary-main-color;
}

.special__old-price {
  font-size: 16px;
  color: $decor-color;
  text-decoration-line: line-through;
}

.special__line-img {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 38%;
}

.special__swiper-button-prev{
  margin-right: 13px;
}

.swiper__btn-container {
  position: absolute;
  top: 0;
  right: 0 ;//$container-padding;
  font-size: 0;
}

.swiper-button-disabled {
  color: $decor-color;
  stroke: $decor-color;
  cursor: default;
}

/* --- top --- */
.top__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog {
  @include gridTemplate($count_grid-column, $grid-gap);
  //grid-auto-rows: $catalog-card-height;
  margin-bottom: 32px;
  width: 100%;
}

.catalog__item {
  position: relative;
  visibility: visible;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $catalog-padding 0;
  @include background-decor();
}

.catalog__item--hidden {
  position: absolute;
  visibility: hidden;
}

.top__btn {
  align-self: center;
  width: $top-btn-width;
}

.estimation {
  position: absolute;
  top: $catalog-padding;
  left: $catalog-padding;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  color: $secondary-main-color;
}

.star {
  margin-right: 6.5px;
}

.catalog__picture {
  align-self: center;
  margin-bottom: 16px;
  padding: 0 10px;
  //width: auto;
  height: $catalog-picture-height;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.catalog__img {
 /* height: 100%;
  width: 100%;
  object-position: bottom center;
  object-fit: none;*/
}

.catalog__descr-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 0 $catalog-padding;
}

.catalog__name {
  @include clean();
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: $text-color;
}

.catalog__price {
  @include clean();
  margin-top: auto;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 21px
}

/* --- banner ---*/
.banner {
  width: 100%;
  height: $banner-heght;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../img/main/1920/banner-img.jpg');
}

.banner__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.banner__title {
  @include clean();
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  color: $decor-banner-color;
}

.banner__descr {
  @include clean();
  margin-bottom: 49px;
  width: 40%;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: $text-color-light;
}

.banner__btn {
  width: $banner-btn-width;
}

/* --- category ---*/
.category__list {
  @include gridTemplate($count_grid-column, $grid-gap);
  font-size: 0;
}

.category__item {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $catalog-padding 0;
  font-size: 14px;
  line-height: 100%;
  @include background-decor();
}

.category__item:first-child {
  grid-column: span 6;
}

.category__item:nth-child(2) {
  grid-column: span 6;
}

.param-list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
  padding: 0 ($catalog-padding - 8px); /*8px чтобы сделать фокус эффект с фоном */
}

.param-item {
  margin-right: $catalog-padding - 16px;
}

.param-item:last-child {
  margin-right: 0;
}

.category__name {
  @include clean();
  margin-bottom: $catalog-padding;
  padding: 0 $catalog-padding;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.category__picture {
  margin-bottom: $catalog-padding;
  font-size: 0; /*убираем лишние 2 px*/
  line-height: 100%;
}

.category__link {
  display:flex;
  margin-top: auto;
  padding: 0 $catalog-padding;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: $main-color;
}

.category__link-text {
  position: relative;
  margin-right: 5px;
}

/* --- useful ---*/
.useful__container {
  position: relative;
  overflow-x: hidden;
}

.useful__list{
  align-items: stretch;
}

.useful__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  //min-height: $useful-height;
  @include background-decor();
}

.useful__picture {
  max-height: 426px;
}

.useful__content {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding: $useful-padding;
  }

.useful__descr {
  @include clean();
  margin-bottom: 37px;
  font-size: 24px;
  line-height: 33px;
}

.useful-link {
  margin-top: auto;
}

.useful__swiper-button-prev {
  margin-right: 13px;
}

/*  --- feedback ---*/
.feedback__container {
  @include gridTemplate($count_grid-column, $grid-gap);
  row-gap: 0;
  background-size: 46%;
  background-position: right $container-padding center;
  background-repeat: no-repeat;
  background-image: url('../img/main/1920/feedback-img.png');
}

.feedback__title {
  grid-column: span $count_grid-column;
  @include clean();
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: $text-color;
}

.feedback__form {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 // width: calc((100% - $grid-gap) / 2);
}

.feedback__descr {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 19px;
  color: $text-color-grey;
}

.feedback__info-icon {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.tooltip__popup {
  visibility: hidden;
  position: absolute;
  bottom: calc(100%  + 13px);
  left: calc( -1 *( 80px - 50%));
  padding: 5px;
  width: 160px;
  font-size: 9px;
  line-height: 14px;
  text-align: center;
  color: $text-color-light;
  background-color: $background-dark-color;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-out;
}

.tooltip__popup::before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: calc(50% - 8px);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $background-dark-color;

}

.feedback__info-icon:hover + .tooltip__popup {
  visibility: visible;
  opacity: 1;
}

.input-container {
  position: relative;
  @include clean();
  border: none;
  margin-bottom: $feedback-padding;
  width: 100%;
  background-color: transparent;
}

.feedback__input {
  @include clean();
  border: none;
  padding: 6px 17px;
  width: 100%;
  font-size: 16px;
  line-height: 40px;
  border: 1px solid transparent; /* добавлено чтобы при ошибке не добавлялся бордер а просто перекращивался*/
  @include background-decor();
  cursor: pointer;
}

.feedback__input::placeholder {
  color: $decor-color;
}

.js-validate-error-label {
  position: absolute;
  top: -15px;
  left: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.feedback-btn {
  padding: 19px 35px;
  margin-bottom: 12px;
}

.agreement {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.agreement__input {
  position: absolute;
  top: 4px;
  left: 0;
  opacity: 0;
}

.agreement__custom-checkbox {
  position: relative;
  display: inline-block;
  border-radius: 2px;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  color: transparent;
  background-color: $main-color;
  vertical-align: middle;
}

.agreement__custom-mark {
  position: absolute;
  top: 3px;
  left: 2px;
}

.agreement__input:checked + .agreement__custom-checkbox {
    color: $text-color-light;
}

.agreement__link {
  text-decoration-line: underline;
  color: $main-color;
}

/* -- footer ---*/
.footer {
  background-color: $background-light-color;
}

.footer__container {
  @include gridTemplate(12, $grid-gap);
  padding: 24px $container-padding;
}

.footer__info {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  width: 187px;
  height: 27px;
}

.social-list {
  display: flex;
}

.social-item {
  margin-right: 14px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  margin-left: -3px;
  padding: 3px;
  color: $decor-color;
  font-size: 0;
  line-height: 0;
}

.footer__nav {
  grid-column: span 8;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.footer__links-title {
  @include clean();
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 100%;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  margin-left: -8px;
}

.footer__links-item {
  margin-bottom: 6px;
  font-size: 0;
}

.footer__links-item:last-child {
  margin-bottom: 0;
}

.footer__copy {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  font-size: 14px;
  line-height: 19px;
  color:$decor-color;
  background-color: $background-secondary-color;
}

@import 'svg.scss';
@import 'effects.scss';
@import 'media.scss';

